.typeahead-container {
  border: 1px solid red;
  display: block;
  margin: auto;
  /* height: 300px; */
}
.typeahead-form {
  justify-content: center;
  align-items: center;
}

.autocomplete-items {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid #d4d4d4;
  max-width: 400px;

  cursor: pointer;
  text-align: center;
}
.autocomplete-items img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid red; */
}
.autocomplete-items h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  margin-left: 20px;
}

.autocomplete-items:hover {
  background-color: rgb(220, 191, 0);
}
