.typeahead-container {
  border: 1px solid red;
  display: block;
  margin: auto;
  height: 300px;
}
.typeahead-form {
  /* height: 300px; */
  /* width: 200px; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  width: 50%;
  top: 100%;
  left: 0;
  right: 0;
  cursor: pointer;
}

.autocomplete-items:hover {
  background-color: rgb(220, 191, 0);
}
